@page "/"
@using CS_1410_Final_Proj_Lib

<PageTitle>Index</PageTitle>

@if (showThings == true)
{
    <h1>Welcome to my Homework Tracker</h1>
    <p>What would you like to do?</p>

    <button>Log in</button><br><br>

    <button>Forgot Password</button><br><br>

    <button>Create Account</button><br><br>

    <button>View Example To-Do List</button> <br><br>

    <p> Please enter your firstname</p>
    <input type=text @bind="FirstName" /><br><br>

    <p>Please enter your lastname</p>
    <input type=text @bind="LastName" /><br><br>

    <p>Please enter your password</p>
    <input type=text @bind="Password" /><br><br>
}




@code {

    public static bool showThings = true;

    string FirstName;
    string LastName;
    int Password;

    //Person User = new();
}
