@page "/"
@using CS_1410_Final_Proj

<PageTitle>Index</PageTitle>

<h1>Welcome to my Homework Tracker</h1>
<p>What would you like to do?</p>
<button>Log in</button><br><br>
<button>Forgot Password</button><br><br>
<button>Create Account</button><br><br>
<button>View Example To-Do List</button>