@page "/"
@using CS_1410_Final_Proj

<PageTitle>Index</PageTitle>

@if (showThings == true)
{
    <h1>Welcome to my Homework Tracker</h1>
    <p>What would you like to do?</p>

    <button @onclick="Hello">Hello</button>

    <button >Log in</button><br><br>

    <button>Forgot Password</button><br><br>

    <button>Create Account</button><br><br>

    <button>View Example To-Do List</button>
}




@code {
    public static bool showThings = true;
    public void LogIn()
    {

    }

    private string Hello()
    {
        return "Hi Parker";
    }
}

